# Public Sanity configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=tbqxupiq
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_STUDIO_URL=/studio

# Server-only Viewer token required by Sanity Draft Mode
SANITY_API_READ_TOKEN=

# Server-only secret used to validate Sanity cache revalidation webhooks
SANITY_REVALIDATE_SECRET=
